.Select {
    position: relative;
}

.SelectInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border: 1px solid var(--color-border);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-primary);
}

.SelectDropdown {
    min-width: 100%;
    width: max-content;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s;
    background: var(--color-background);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.SelectDropdown.IsOpen {
    transform: scaleY(1);
}

.SelectItem {
    padding: 6px 8px;
    cursor: pointer;
    color: var(--color-primary);
}

.SelectItem:hover {
    background: var(--color-muted);
}
