.ChartModuleWrapper {
    width: 100%;
    max-width: 1300px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ChartModuleFilter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

}

.ChartModuleFilterItem {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ChartModuleFilterItem > div {
    min-width: 200px;
}

.ChartModuleChart {
    width: 100%;
    height: 500px;
}
