@import "./theme.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

:root {

}

.dark-theme {
    --bg-color: #0f0f0f;
    --text-color: #ffffff;
}

body {
    background: var(--color-background);
    color: var(--text-color);
}
