:root {
    --color-background: #ffffff;
    --color-primary: #1B1B23;
    --color-secondary: #52515B;
    --color-muted: #918F9A;
    --color-border: #C7C5D0;


    --chart-tick-color: var(--color-muted);
    --chart-tooltip-primary: var(--color-primary);
    --chart-tooltip-secondary: var(--color-secondary);
    --chart-tooltip-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    --chart-tooltip-bg: #FFF;
}

body[data-theme="dark"] {
    --color-background: #0E0E0E;
    --color-primary: #E2E2E5;
    --color-secondary: #B1B0B6;
    --color-muted: #8A8990;
    --color-border: #3A3A44;

    --chart-tooltip-bg: #222;
    --chart-tooltip-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}
